*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
div,
span,
img,
a,
table,
tr,
th,
td,
small,
button,
time,
figure {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
}

li,
dd {
	list-style-type: none;
}

header,
footer,
nav,
section,
article,
main,
aside,
figure,
figcaption {
	display: block;
}

img {
	border: none;
	vertical-align: bottom;
}

a {
	cursor: pointer;
	text-decoration: none;
}

html.is-fixed,
body.is-fixed {
	overflow: hidden;
}

body {
	color: #3E3E3E;
	font-family: YuGothic, "Yu Gothic", sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.1875;
}

img {
	height: auto;
	max-width: 100%;
}

a {
	color: inherit;
}

.inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
	width: 1200px;
}

.utility-btn {
	background-color: #FFAA3B;
	border-radius: 10px;
	box-shadow: 0px 3px 5px 0 rgba(62, 62, 62, 0.2);
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	height: 50px;
	letter-spacing: 0.025em;
	line-height: 50px;
	max-width: 100%;
	text-align: center;
	transition: all 0.3s ease 0s;
}

.utility-btn:hover {
	background: #F18900;
}

.utility-btn--contact {
	width: 282px;
}

.utility-btn--submit {
	width: 173px;
}

.section-head {
	font-family: "Montserrat", sans-serif;
	font-size: 36px;
	font-weight: 600;
}

.section-head--center {
	text-align: center;
}

.section-head--center:not(.price__title) {
	padding-top: 60px;
}

.section-head--center.price__title {
	padding-top: 120px;
}

.section-head--left {
	padding-top: 120px;
}

.section-head--left .results__title {
	padding-top: 60px;
}

.section-head.is-white {
	color: #FFFFFF;
}

.btn-link {
	border: 1px solid #707070;
	display: inline-block;
	font-size: 20px;
	font-weight: 600;
	height: 64px;
	letter-spacing: 4px;
	line-height: 64px;
	max-width: 100%;
	text-align: center;
	transition: all 0.2s ease 0s;
}

.btn-link--more {
	width: 236px;
}

.btn-link--viewall {
	width: 289px;
}

.btn-link--googlemaps {
	letter-spacing: 2px;
	width: 314px;
}

.btn-link--white {
	background: #FFFFFF;
}

.btn-link--white:hover {
	background: #3E3E3E;
	color: #FFFFFF;
}

.btn-link--black {
	background: #3E3E3E;
	border: 1px solid #FFFFFF;
	color: #FFFFFF;
}

.btn-link--black:hover {
	background: #FFFFFF;
	color: #3E3E3E;
}

.swiper {
	height: 426px;
	overflow: visible;
	width: 100%;
}

.swiper-slide {
	width: 400px;
}

.swiper-pagination-bullet {
	background: #fff;
	height: 12px;
	opacity: 1;
	width: 12px;
}

.swiper-pagination-bullet-active {
	position: relative;
}

.swiper-pagination-bullet-active::after {
	border: 1px solid #fff;
	border-radius: 50%;
	content: "";
	height: 18px;
	left: -3px;
	position: absolute;
	top: -3px;
	width: 18px;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child),
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child) {
	margin-right: 20px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: 0;
	height: 20px;
	width: 176px;
}

.swiper-pagination {
	-moz-text-align-last: left;
	text-align-last: left;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	left: 3px;
}

button[type=button] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: 0;
	cursor: pointer;
	overflow: visible;
	width: auto;
}

.drawer-icon {
	display: none;
	position: fixed;
	right: 16px;
	top: 24px;
	z-index: 40;
}

.drawer-icon.is-active {
	transform: translateX(-80vw);
}

.drawer-icon.is-active > .drawer-icon__bars {
	background: url(../img/sp/batsu.png) no-repeat center center/contain;
	height: 21px;
	width: 21px;
}

.drawer-icon__bars {
	background: url(../img/sp/hamburger.png) no-repeat center center/contain;
	display: block;
	height: 20px;
	transition: all 0.9s;
	width: 26px;
}

.drawer-content__items {
	padding: 160px 0px 155px;
	text-align: center;
}

.drawer-content__item + .drawer-content__item {
	margin-top: 30px;
}

.drawer-content__item a {
	display: block;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
}

.drawer-content__item a:hover {
	opacity: 0.6;
}

.scroll-animation {
	opacity: 0;
	transform: translateY(80px);
	transition: transform 0.8s ease, opacity 0.8s;
}

.scroll-animation.block-in {
	opacity: 1;
	transform: translateY(0);
}

.animation-fadeIn {
	opacity: 0;
}

.fadeIn {
	-webkit-animation: show ease 2s 1 forwards;
	animation: show ease 2s 1 forwards;
}

.to-top {
	bottom: 30px;
	opacity: 0;
	position: fixed;
	right: 30px;
	transition: all 0.3s;
	visibility: hidden;
	z-index: 30;
}

.to-top.is-show {
	opacity: 1;
	visibility: visible;
}

.to-top a {
	text-decoration: none;
	transition: all 0.3s;
}

.to-top a:hover {
	opacity: 0.6;
}

.to-top a img {
	width: 50px;
}

.header {
	background: rgba(255, 255, 255, 0.1019607843);
	height: 83px;
	left: 0;
	max-width: 100%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 20;
}

.header__inner {
	height: inherit;
}

.header__logo {
	display: none;
}

.header__logo__link {
	-moz-text-align-last: left;
	display: inline-block;
	font-family: "Montserrat", sans-serif;
	font-size: 23px;
	font-weight: 700;
	line-height: 68px;
	text-align-last: left;
}

.header__nav {
	display: block;
}

.header__nav__items {
	align-items: center;
	display: flex;
	justify-content: center;
}

.header__nav__item {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 83px;
	margin-right: 40px;
}

.header__nav__item:last-child {
	margin-right: 0;
}

.header__nav__item a {
	position: relative;
}

.header__nav__item a::after {
	background-color: transparent;
	bottom: -6.5px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	transform: scale(0, 1);
	transition: transform 0.4s ease 0s;
	width: 100%;
}

.header__nav__item a:hover::after {
	background-color: #3E3E3E;
	transform: scale(1, 1);
}

.mainvisual {
	background: url(../img/mv.png) no-repeat center center/cover;
	height: 565px;
	padding-top: 83px;
	position: relative;
	width: 100%;
}

.mainvisual__content {
	font-weight: 700;
	left: 50%;
	max-width: 100%;
	position: absolute;
	text-align: left;
	top: 236px;
	width: 50%;
}

.mainvisual__title {
	font-size: 32px;
	letter-spacing: 0.02px;
	line-height: 1.5;
}

.mainvisual__text {
	font-size: 18px;
	letter-spacing: 0.45px;
	line-height: 1.5555555556;
	margin-top: 27px;
}

.mainvisual__btn {
	font-size: 18px;
	margin-top: 35px;
}

.news {
	background: #F3F3F3;
}

.news-inner-wrap {
	padding-bottom: 120px;
	padding-top: 120px;
}

.news__inner {
	background-color: #FFFFFF;
	box-shadow: 0px 5px 12px 0px rgba(62, 62, 62, 0.2);
	max-width: 100%;
	width: 1200px;
}

.news__content {
	margin: 0 auto;
	max-width: 100%;
	padding: 60px 60px 40px;
	width: 1080px;
}

.news__link {
	border-bottom: 1px solid #CECDCD;
	display: inline-block;
	max-width: 100%;
	padding: 40px 0 40px;
	width: 1080px;
}

.news__link--first {
	border-top: 1px solid #CECDCD;
	padding: 38px 0 38px;
}

.news__link:hover {
	background: rgba(73, 115, 255, 0.1019607843);
}

.news__item {
	display: flex;
	justify-content: center;
}

.news__meta {
	align-items: center;
	display: flex;
	width: 259px;
}

.news__date {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 400;
	width: 98px;
}

.news__label {
	display: inline-block;
	margin-left: 40px;
	text-align: center;
	width: 121px;
}

.news__label__name {
	border: 2px solid #3B69FF;
	border-radius: 50px;
	display: inline-block;
	font-size: 14px;
	padding: 6px 32px;
	white-space: nowrap;
}

.news__text {
	display: inline-block;
	font-size: 18px;
	line-height: 1.5555555556;
	padding-left: 40px;
	padding-right: 83px;
	position: relative;
	vertical-align: middle;
	width: calc(100% - 259px);
}

.news__text::after {
	background: url(../img/news-arrow.png) no-repeat center center/10.75px 21.5px;
	content: "";
	display: inline-block;
	height: 46px;
	position: absolute;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 43px;
}

.news__btn {
	margin-top: 40px;
	text-align: center;
}

.service {
	background: linear-gradient(to bottom, #3E3E3E 65.0406504065%, #F3F3F3 65.0406504065%);
}

.service__content {
	padding-bottom: 120px;
	padding-top: 60px;
}

.service__menus {
	background: #FFFFFF;
	box-shadow: 0px 5px 12px 0px rgba(62, 62, 62, 0.2);
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	max-width: 100%;
	padding: 60px 45px;
	width: 960px;
}

.service__menu {
	cursor: pointer;
	height: 211px;
	margin: 0 auto;
	max-width: 100%;
	width: 230px;
}

.menu__img {
	height: 64px;
	margin: 0 auto;
	width: 64px;
}

.menu__img__coding,
.menu__img__customize {
	height: 32.38px;
	margin: 16px 6.93px 15.62px 7px;
	width: 50.07px;
}

.menu__title {
	font-size: 20px;
	font-weight: 600;
	height: 52px;
	letter-spacing: 4px;
	line-height: 1.4;
	margin: 6px auto 15px;
	text-align: center;
	width: 100px;
}

.menu__title--design {
	height: 52px;
	width: 100px;
}

.menu__title--coding {
	height: 52px;
	width: 106px;
}

.menu__title--customize {
	height: 52px;
	width: 156px;
}

.menu__text {
	font-size: 14px;
	margin: 0 auto;
	max-width: 100%;
	width: 230px;
}

.results {
	background: #F3F3F3;
}

.results__inner {
	background: #3E3E3E;
	color: #fff;
	margin-left: 40px;
	max-width: 100%;
	overflow-x: scroll;
	padding-bottom: 60px;
	padding-left: 60px;
	width: calc(100% - 40px);
}

.results__cards {
	cursor: pointer;
	margin-top: 60px;
	overflow: hidden;
}

.results__card {
	max-width: 100%;
	transition: transform 0.3s;
}

.card__img img {
	height: auto;
	width: 100%;
}

.card__body {
	background: #FFFFFF;
	color: #3E3E3E;
	padding: 16px;
}

.card__body__title {
	font-size: 20px;
	font-weight: 700;
	line-height: 1.2;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card__body__text {
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	line-height: 1.5;
	margin-top: 8px;
	overflow: hidden;
}

.results__btn {
	margin-top: 40px;
}

.price {
	background: #F3F3F3;
}

.price__inner {
	padding-bottom: 120px;
}

.price__content {
	margin: 60px auto 0;
	width: 80%;
}

.price__table {
	background: #fff;
	border: 1px solid #707070;
	border-collapse: collapse;
	font-size: 24px;
	font-weight: 600;
	width: 100%;
}

.price__table tr {
	border: 1px solid #707070;
}

.price__table tr:nth-child(2) th {
	border-bottom: 1px solid #fff;
	border-top: 1px solid #fff;
}

.price__table th,
.price__table td {
	border-right: 1px solid #707070;
	height: 61px;
	vertical-align: middle;
}

.price__table th {
	background: #3e3e3e;
	color: #fff;
	text-align: center;
	width: 262px;
}

.price__table td {
	padding-left: 40px;
	text-align: left;
}

.price__attention {
	font-size: 12px;
	line-height: 1.6666666667;
	margin-top: 8px;
}

.comments {
	background: #F3F3F3;
	height: 724px;
	position: relative;
}

.comments::after {
	background: #3E3E3E;
	bottom: 0;
	content: "";
	height: 79.5580110497%;
	left: 0;
	position: absolute;
	width: 81.6666666667%;
}

.comments__inner {
	align-items: center;
	display: flex;
	left: 50%;
	position: absolute;
	transform: translateX(-50%);
	z-index: 7;
}

.comments__inner__main-content {
	background: #FFFFFF;
	width: 55.5%;
}

.comments__title {
	padding-left: 60px;
}

.comments__content {
	padding: 60px 60px 120px 60px;
}

.human__comment {
	cursor: pointer;
	display: flex;
}

.human__comment + .human__comment {
	margin-top: 60px;
}

.human__img {
	height: 100px;
	max-width: 100%;
	width: 100px;
}

.human__text {
	line-height: 1.5;
	padding-left: 32px;
	width: 75.8241758242%;
}

.comments__img {
	width: 44.5%;
}

.qa {
	background: url(../img/qa-bg.png) no-repeat center center/cover;
	height: auto;
}

.qa__content {
	padding-bottom: 120px;
	padding-top: 56px;
}

.qa__items-wrap {
	height: 910px;
	position: relative;
	width: 100%;
}

.qa__items {
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 612px;
}

.qa__item + .qa__item {
	margin-top: 32px;
}

.qa-box {
	background: #FFFFFF;
	border-radius: 4px;
}

.qa-box__q {
	cursor: pointer;
	height: auto;
	padding: 16px;
	position: relative;
	width: 612px;
}

.qa-box__q::before {
	background: #3B69FF;
	border-radius: 50%;
	color: #FFFFFF;
	content: "Q";
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	height: 24px;
	left: 16px;
	line-height: 24px;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 24px;
}

.qa-box__q__content {
	font-weight: 700;
	letter-spacing: 0.4px;
	padding-left: 40px;
}

.qa-box__icon {
	background: #000;
	background: transparent url(../img/plus.png) no-repeat center center/contain;
	height: 16px;
	position: absolute;
	right: 16px;
	top: 50%;
	transform: translateY(-50%);
	transition: background 0.2s linear;
	width: 17px;
}

.qa-box__icon.is-open {
	background: url(../img/minus.png) no-repeat center center/contain;
	height: 17px;
	width: 17px;
}

.qa-box__a {
	display: none;
	height: auto;
	padding: 0 16px 16px 16px;
	width: 612px;
}

.qa-box__a__content {
	background: rgba(59, 105, 255, 0.2);
	padding: 16px;
	width: 580px;
}

.access {
	background: #F3F3F3;
	position: relative;
}

.access::after {
	background: #3E3E3E;
	content: "";
	height: 504px;
	left: 0;
	max-width: 100%;
	position: absolute;
	top: 0;
	width: 81.6666666667%;
}

.access__inner {
	color: #FFFFFF;
	display: flex;
	padding: 120px 0;
	position: relative;
	z-index: 7;
}

.access__content {
	margin-right: 100px;
	width: 314px;
}

.access__title {
	padding-top: 0;
}

.access__info {
	margin-top: 60px;
}

.access__info__address {
	line-height: 1.5;
}

.access__map {
	max-height: 520px;
	max-width: 100%;
	width: calc(100% - 414px);
}

.access__map__wrap {
	height: 0;
	padding-top: 71.6253443526%;
	position: relative;
	width: 100%;
}

.access__map__wrap iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.access__btn {
	margin-top: 32px;
	max-width: 100%;
	width: 314px;
}

.contact {
	background: url(../img/contact-bg.png) no-repeat center center/cover;
}

.contact__inner {
	max-width: 100%;
	padding-bottom: 60px;
	padding-top: 60px;
	width: 960px;
}

.contact-head-content {
	background: url(../img/contact1.png) no-repeat center center/cover;
	border-radius: 12px 12px 0 0;
}

.contact__lead {
	color: #FFFFFF;
	margin-top: 12px;
	padding-bottom: 60px;
	text-align: center;
}

.contact-main-content {
	background: #FFFFFF;
	border-radius: 0 0 12px 12px;
	padding: 60px 0;
}

.contact-form {
	margin: 0 auto;
	width: 75%;
}

.contact-form__list {
	max-width: 100%;
	width: 720px;
}

.contact-item {
	align-items: center;
	display: flex;
}

.contact-item + .contact-item {
	margin-top: 32px;
}

.contact-item.item-message {
	display: block;
}

.contact-item__label {
	-webkit-user-select: none;
	-moz-user-select: none;
	display: inline-block;
	flex: 0 0 128px;
	font-weight: 700;
	user-select: none;
	vertical-align: middle;
}

.contact-item__label label {
	cursor: pointer;
}

.contact-item__label label.is-required {
	display: inline-block;
	padding-right: 52px;
	position: relative;
}

.contact-item__label label.is-required::after {
	background: #FF4646;
	border-radius: 2px;
	color: #fff;
	content: "必須";
	font-size: 12px;
	height: 16px;
	line-height: 16px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
	width: 40px;
}

.contact-item__input:not(.input-message) {
	padding-left: 60px;
}

.contact-item__input.input-message {
	margin-top: 5px;
}

.contact-item__input [type=text],
.contact-item__input [type=email],
.contact-item__input textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
	padding: 0.625em 0.9375em;
	transition: all 0.3s;
	width: 100%;
}

.contact-item__input [type=text],
.contact-item__input [type=email] {
	border-bottom: 1px solid rgba(62, 62, 62, 0.5);
}

.contact-item__input [type=text]:hover,
.contact-item__input [type=text]:focus,
.contact-item__input [type=email]:hover,
.contact-item__input [type=email]:focus {
	border-bottom: 1px solid #4973FF;
	box-shadow: 0px 5px 4px -4px rgba(73, 115, 255, 0.5);
}

.contact-item__input textarea {
	border: 1px solid #707070;
	min-height: 200px;
	resize: vertical;
}

.contact-item__input textarea:hover,
.contact-item__input textarea:focus {
	border: 1px solid #4973FF;
	box-shadow: 0px 0px 8px 0px rgba(73, 115, 255, 0.5);
}

.contact-item__input select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
	height: 40px;
	line-height: 40px;
	max-width: 100%;
	padding: 0 12px;
	position: relative;
	vertical-align: middle;
	width: 178px;
}

.contact-item__input [type=radio] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 0;
	position: absolute;
}

.input-select-wrap {
	border: 1px solid #707070;
	display: inline-block;
	height: 40px;
	position: relative;
	vertical-align: middle;
	width: 178px;
}

.input-select-wrap:hover {
	box-shadow: 0px 0px 5px rgba(73, 115, 255, 0.5);
}

.input-select-wrap::before {
	background: transparent;
	border-bottom: 3px solid #3E3E3E;
	border-left: 3px solid #3E3E3E;
	content: "";
	display: inline-block;
	height: 10px;
	position: absolute;
	right: 16px;
	top: 12px;
	transform: rotate(-45deg);
	width: 10px;
}

.input-radio-gender {
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
	display: inline-block;
	line-height: 16px;
	padding-left: 20px;
	position: relative;
	user-select: none;
}

.input-radio-gender.female {
	margin-left: 40px;
}

.input-radio-gender::before {
	border: 1px solid #707070;
	border-radius: 50%;
	content: "";
	height: 12px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	width: 12px;
}

.input-radio-gender:hover::before {
	border: 1px solid #3B69FF;
	box-shadow: 0px 0px 6px 0px rgba(73, 115, 255, 0.2);
}

.input-radio-gender:active::before {
	background: rgba(73, 115, 255, 0.2);
	border: 1px solid #3B69FF;
}

.input-radio-gender::after {
	background: #3B69FF;
	border-radius: 50%;
	content: "";
	height: 6px;
	left: 3px;
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.2s;
	width: 6px;
}

.contact-item__input [type=radio]:checked + .input-radio-gender::after {
	opacity: 1;
}

.contact-item__input [type=radio]:focus-visible + .input-radio-gender {
	outline: -webkit-focus-ring-color auto 1px;
}

.contact-footer {
	margin-top: 40px;
}

.contact-privacy [type=checkbox] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	opacity: 0;
	position: absolute;
}

.contact-privacy [type=checkbox]:checked + .contact-privacy__text::after {
	opacity: 1;
}

.contact-privacy [type=checkbox]:focus-visible + .contact-privacy__text::before {
	outline: -webkit-focus-ring-color auto 1px;
}

.contact-privacy__text {
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: 700;
	padding-left: 40px;
	position: relative;
	user-select: none;
	vertical-align: middle;
}

.contact-privacy__text::before {
	border: 1px solid #707070;
	content: "";
	height: 20px;
	left: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.2s;
	width: 20px;
}

.contact-privacy__text:hover::before {
	border: 1px solid #3B69FF;
	box-shadow: 0px 0px 5px 0px rgba(73, 115, 255, 0.2);
}

.contact-privacy__text:active::before {
	background: rgba(73, 115, 255, 0.2);
}

.contact-privacy__text::after {
	border-bottom: 3px solid #3B69FF;
	border-right: 3px solid #3B69FF;
	content: "";
	height: 18px;
	left: 6px;
	opacity: 0;
	position: absolute;
	top: 0px;
	transform: rotate(45deg);
	transition: all 0.2s;
	width: 8px;
}

.contact-submit {
	margin-top: 40px;
}

footer {
	background: #3E3E3E;
	color: #FFFFFF;
}

.footer-inner {
	max-width: 100%;
	padding: 60px 0;
	width: 960px;
}

.footer-inner__left {
	margin-right: auto;
}

.footer-sns__list {
	align-items: center;
	display: flex;
	gap: 32px;
}

.footer-sns__item {
	transition: transform 0.3s;
}

.footer-sns__item:hover {
	transform: scale(1.2);
}

.footer-sns__item__link i::before {
	display: inline-block;
	font-family: "Font Awesome 6 Free", "Font Awesome 6 Brands";
	font-style: normal;
	font-weight: 400;
	opacity: 0.6;
}

.footer-sns__item__link--twitter:before {
	content: "\f099";
	font-size: 36px;
	line-height: 30.6px;
}

.footer-sns__item__link--facebook:before {
	content: "\f082";
	font-size: 36px;
	line-height: 36px;
}

.footer-nav {
	margin-top: 35px;
}

.footer-nav__list {
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 0.025em;
}

.footer-nav__list__link {
	display: block;
	transition: opacity 0.2s;
}

.footer-nav__list__link:hover {
	opacity: 0.6;
}

.footer-nav__list__link + .footer-nav__list__link {
	margin-top: 20px;
}

.footer-inner__right {
	text-align: right;
}

.footer-corp__name {
	color: #E3E3E3;
	font-family: "Montserrat", sans-serif;
	font-size: 40px;
	font-weight: 700;
}

.footer-corp__copyright {
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	letter-spacing: 0.025em;
	margin-top: 5px;
	opacity: 0.6;
}

@media screen and (min-width:768px ) and (max-width:1199px) {

.inner {
	padding-left: 24px;
	padding-right: 24px;
}

.swiper {
	width: 100%;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	left: 3px;
}

.drawer-content {
	display: none;
}

.drawer-background {
	display: none;
}

.mainvisual__title {
	font-size: 26px;
}

.mainvisual__text {
	font-size: 16px;
	margin-top: 23px;
}

.mainvisual__btn {
	font-size: 16px;
	margin-top: 30px;
}

.card__body__title {
	font-size: 16px;
	line-height: 1.25;
}

.card__body__text {
	font-size: 14px;
	line-height: 1.4285714286;
}

.comments__content {
	padding: 40px 40px 80px 40px;
}

.contact-item__input {
	flex: 0 1 100%;
}

.footer-inner {
	display: flex;
}

}

@media screen and (min-width:1200px) {

.is-sp {
	display: none;
}

.drawer-content {
	display: none;
}

.drawer-background {
	display: none;
}

.contact-item__input {
	flex: 0 1 100%;
}

.footer-inner {
	display: flex;
}

}

@media screen and (max-width: 767px) {

.is-pc {
	display: none;
}

.inner {
	padding-left: 16px;
	padding-right: 16px;
}

.utility-btn {
	font-size: 16px;
	height: 48px;
}

.utility-btn--contact {
	letter-spacing: 0;
	line-height: 48px;
	width: 222px;
}

.section-head {
	font-size: 30px;
}

.section-head--center:not(.price__title) {
	padding-top: 40px;
}

.section-head--center.price__title {
	padding-top: 40px;
}

.section-head--left {
	padding-top: 40px;
}

.section-head--left .results__title {
	padding-top: 40px;
	text-align: center;
}

.btn-link {
	font-size: 18px;
	height: 54px;
	letter-spacing: 3.6px;
	line-height: 54px;
}

.btn-link--more {
	width: 268px;
}

.btn-link--viewall {
	width: 316px;
}

.swiper {
	height: 310px;
	width: 100%;
}

.swiper-slide {
	width: 274px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	left: 50%;
	transform: translateX(-50%);
}

.drawer-icon {
	display: block;
	transition: transform 0.4s;
}

.drawer-content {
	background: #FFFFFF;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	transform: translateX(101%);
	transition: transform 0.5s ease-in-out;
	width: 80%;
	z-index: 39;
}

.drawer-content.is-active {
	transform: translateX(0);
}

.drawer-background {
	background: #3E3E3E;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 38;
}

.drawer-background.is-active {
	display: block;
}

.to-top {
	bottom: 13px;
	right: 16px;
}

.header {
	background: #FFFFFF;
	height: 68px;
}

.header__logo {
	display: block;
	height: 68px;
	max-width: 100%;
	width: 160px;
}

.header__nav {
	display: none;
}

.mainvisual {
	height: 599px;
	padding-top: 68px;
}

.mainvisual__content {
	margin: 153px auto 0;
	position: static;
	width: 343px;
}

.mainvisual__title {
	font-size: 24px;
	line-height: 1.6666666667;
	text-align: left;
}

.mainvisual__text {
	font-size: 14px;
	line-height: 1.4285714286;
	margin-top: 20px;
	text-align: left;
}

.mainvisual__text span {
	display: block;
}

.mainvisual__btn {
	font-size: 14px;
	margin-top: 27px;
	text-align: center;
}

.news-inner-wrap {
	padding-bottom: 60px;
	padding-top: 0;
}

.news__inner {
	margin-top: -40px;
}

.news__content {
	padding: 40px 0 40px;
}

.news__link {
	padding: 10px 0 10px;
	width: 100%;
}

.news__item {
	display: block;
	padding-left: 16px;
}

.news__meta {
	width: 181px;
}

.news__date {
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.35px;
	white-space: nowrap;
	width: 76px;
}

.news__label {
	margin-left: 24px;
	width: 81px;
}

.news__label__name {
	font-size: 12px;
	padding: 1px 16px;
}

.news__text {
	padding: 9px 55px 0px 0px;
	width: 100%;
}

.service {
	background: linear-gradient(to bottom, #3E3E3E 55.1090700344%, #F3F3F3 55.1090700344%);
}

.service__content {
	padding-bottom: 60px;
	padding-top: 40px;
}

.service__menus {
	display: block;
	height: 694px;
	padding: 40px 16px;
	top: 117px;
	width: 343px;
}

.service__menu {
	height: 178px;
	width: 311px;
}

.service__menu:not(:first-child) {
	margin-top: 35px;
}

.menu__text {
	margin: 0;
	width: 100%;
}

.results__inner {
	margin-left: 0;
	padding-bottom: 40px;
	padding-left: 16px;
	width: 100%;
}

.results__title {
	padding-left: 0;
	text-align: center;
}

.results__cards {
	margin-top: 40px;
}

.results__card {
	height: 253px;
	width: 274px;
}

.card__img img {
	width: 274px;
}

.card__body {
	padding: 12px;
}

.card__body__title {
	font-size: 14px;
	letter-spacing: 0.01px;
	line-height: 1.1428571429;
}

.card__body__text {
	font-size: 12px;
	letter-spacing: 0.0008333333em;
	line-height: 1.5;
	margin-top: 6px;
}

.results__btn {
	margin-left: 0;
	margin-top: 24px;
	text-align: center;
}

.price__inner {
	padding-bottom: 60px;
}

.price__content {
	margin: 40px 0 0;
	width: 100%;
}

.price__table th {
	width: 100px;
}

.comments {
	height: 485.5px;
}

.comments::after {
	height: 88.1316098707%;
	width: 100%;
}

.comments__inner__main-content {
	margin: 0 auto;
	max-width: 100%;
	width: 343px;
}

.comments__title {
	padding-left: 20px;
}

.comments__content {
	padding: 40px 20px 39.98px 20px;
}

.human__comment + .human__comment {
	margin-top: 40px;
}

.human__img {
	height: 60px;
	width: 60px;
}

.human__text {
	font-size: 14px;
	line-height: 1.4285714286;
	padding-left: 20px;
	width: 73.597359736%;
}

.comments__img {
	display: none;
}

.qa__content {
	padding-bottom: 60px;
	padding-top: 40px;
}

.qa__items-wrap {
	height: auto;
	position: static;
	width: 100%;
}

.qa__items {
	position: static;
}

.qa__item {
	width: 100%;
}

.qa-box__q {
	width: inherit;
}

.qa-box__a {
	width: 100%;
}

.qa-box__a__content {
	width: inherit;
}

.access::after {
	display: none;
}

.access {
	background: #3E3E3E;
}

.access__inner {
	flex-direction: column;
	padding: 0px 16px 40px;
}

.access__content {
	display: contents;
	width: 100%;
}

.access__title {
	margin-left: 0;
	order: 1;
}

.access__info {
	margin-left: 0;
	margin-top: 35px;
	order: 2;
}

.access__info__address {
	font-size: 14px;
	line-height: 1.4285714286;
}

.access__map {
	margin-left: 0;
	margin-top: 24px;
	order: 3;
	width: 100%;
}

.access__map__wrap {
	padding-top: 70.2623906706%;
}

.access__btn {
	margin-top: 24px;
	max-width: 100%;
	order: 4;
	text-align: center;
	width: 100%;
}

.contact__inner {
	padding-top: 40px;
}

.contact-head-content {
	background: url(../img/sp/contact1.png) no-repeat center center/cover;
	padding: 0px 16px;
}

.contact__lead {
	font-size: 14px;
	padding-bottom: 40px;
	text-align: left;
}

.contact-main-content {
	padding: 40px 12px;
}

.contact-form {
	width: 100%;
}

.contact-item {
	display: block;
	width: 100%;
}

.contact-item__input {
	margin-top: 10px;
}

.contact-item__input:not(.input-message) {
	padding-left: 0;
}

.contact-item__input [type=text],
.contact-item__input [type=email],
.contact-item__input textarea {
	font-size: 14px;
	padding: 0px 0px 5px;
}

.contact-item__input textarea {
	min-height: 160px;
}

.contact-item__input select {
	font-size: 14px;
	height: 38px;
	line-height: 38px;
}

.input-select-wrap {
	width: 100%;
}

.contact-footer {
	margin-top: 32px;
}

.contact-submit {
	margin-top: 34px;
	text-align: center;
}

.footer-inner__left {
	margin-right: 0;
	text-align: center;
}

.footer-sns__list {
	gap: 50px;
	justify-content: center;
}

.footer-sns__item__link--twitter:before {
	line-height: 36px;
}

.footer-nav {
	margin-top: 37px;
}

.footer-nav__list {
	font-size: 14px;
	letter-spacing: 0.025em;
}

.footer-nav__list__link + .footer-nav__list__link {
	margin-top: 22px;
}

.footer-inner__right {
	text-align: center;
}

.footer-corp {
	margin-top: 30px;
}

.footer-corp__name {
	font-size: 32px;
}

.footer-corp__copyright {
	margin-top: 8px;
}

}

@-webkit-keyframes show {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

@keyframes show {

0% {
	opacity: 0;
}

100% {
	opacity: 1;
}

}

